# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directories
dist/
build/
coverage/

# System files
.DS_Store
Thumbs.db

# IDE configuration
.idea/
.vscode/
*.swp
*.swo